<% @apartments.each do |apartment| %>
  <tr>
    <td><%= apartment.title %></td>
    <td><%= link_to 'Show', apartment %></td>
    <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
    <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>